/* All the scss variables should go here */
$bg-color:#dafcde;
$text-color: #555b6e;

$nav-bg-color: #22577a;
$nav-text-color: #faf9f9;

$footer-bg-color: #38a3a5;

$section-bg-color: #8fc0ab;

$text-font: cursive;